{
    debug
    metrics
}

http://localhost:8080 {
    route /new {
        mirror {
            metrics path_new
            compare_jq .id
            primary {
                respond "{\"id\":\"foo\", \"done\":\"ok\"}"
            }
            secondary {
                respond "{\"id\":\"bar\", \"done\":\"ok\"}"
            }
        }
    }
}