{
    debug
    metrics
}

http://localhost:8080 {
    route /new {
        mirror {
            metrics path_new
            compare_jq .data
            primary {
                uri replace /new /post
                reverse_proxy https://httpbin.org
            }
            secondary {
                uri replace /new /post
                reverse_proxy https://httpbin.org
            }
        }
    }
}